In [1]:
import numpy as np
import montecarlo as mc
import pandas as pd

In [2]:
a = mc.Die(np.array([1,2,3,4,5,6]))
b = mc.Die(np.array([1,2,3,4,5,6]))
c = mc.Die(np.array([1,2,3,4,5,6]))
d = mc.Die(np.array([1,2,3,4,5,6]))
game = mc.Game([a,b,c,d])
game.play(4)

In [3]:
df = game.recent_play('wide')
df

   0  1  2  3
1  1  4  5  3
2  2  5  2  5
3  6  4  6  3
4  1  5  5  6

In [4]:
analyzer = mc.Analyzer(game)
x = analyzer.jackpot()
x

0