In [1]:
import numpy as np
import montecarlo as mc
import pandas as pd

In [2]:
a = mc.Die(np.array([1,2,3,4,5,6]))
b = mc.Die(np.array([1,2,3,4,5,6]))
c = mc.Die(np.array([1,2,3,4,5,6]))
d = mc.Die(np.array([1,2,3,4,5,6]))
game = mc.Game([a,b,c,d])
game.play(5)

In [3]:
df = game.recent_play('wide')
df

   0  1  2  3
1  2  6  2  5
2  5  4  3  2
3  1  4  1  4
4  1  5  1  6
5  5  6  3  5

In [4]:
ana = mc.Analyzer(game)
ana.face_counts_per_roll()

   1  2  3  4  5  6
1  0  2  0  0  1  1
2  0  1  1  1  1  0
3  2  0  0  2  0  0
4  2  0  0  0  1  1
5  0  0  1  0  2  1

In [5]:
# new_df = pd.DataFrame(index=game.dice[0].current_state().index)
# new_df.index.name = ""

# x = 1
# for row in df.index:
#     counts = df.loc[row].value_counts()
#     new_df[x] = [counts[i] if i in counts.index else 0 for i in new_df.index]
#     x+=1
    
# new_df.transpose()